@import "mixins";

// Margins
$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;
$m6: 48px;
$m7: 56px;
$m8: 64px;
$m9: 72px;

// Breakpoints
$xs: 350px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Border-radius
$br1: 4px;
$br2: 8px;
$br3: 16px;
$br4: 24px;

